body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo {
    margin-left: 300px;
    width:fit-content;
    margin-top: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    color: #E5E7EB;
}


.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}


ul {
    margin-top: -20px;
    margin-left: 70%;
    width:300px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    margin-bottom: 0;
}

.hero{
    margin-left: 300px;
    width: 700px;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    align-items: flex-start;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 18px;
}

button{
    height: 37px;
    color: white;
    font-weight: bolder;
    background-color: #3882f6;
}

