*, ::before, ::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2937;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo {
    margin-left: 200px;
    width:fit-content;
    margin-top: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    color: #E5E7EB;
}


.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.square{
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 230px;
    margin-bottom: 80px;
}
.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border: solid blue;
    background-color: #E5E7EB;
}


ul {
    margin-top: -20px;
    margin-left: 70%;
    width:300px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    width: 700px;
    margin-bottom: 0;
}

.hero{
    margin-top: 140px;
    background-color: #1F2937;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #f9faf8;
}

.hero p{
    width: 350px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 18px;
}

.hero button{
    height: 37px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    background-color: #3882f6;
    border-radius: 12px;
    border: 0;
    width: 130px;
}

.content{
    background-color: white;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 438px;
    gap: 16px;
}

.content-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.boxes{
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-top: 50px;
}

.box{
    width: 200px;
    border-color: rgb(0, 80, 253);
    border-radius: 12px;
    border-style: solid;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

.subtexts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: auto;
    margin-bottom: 50px;
}

.text{
    width: 200px;
}

.quote{
    height: 378px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote .inspiring{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    margin-left: 701px;
    width: 650px;
    display: flex;
}

.quote .signature{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-right: 640px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.bottom{
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 378px;
}
.action{
    background-color: #3882f6;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    height: 150px;
    width: 930px;
    border-radius: 15px;
}

.action-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f9faf8;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}

.action-header .paragraph{
    color: #f9faf8;
    font-weight: lighter;
    font-size: 14px;
}


.action-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action-button button{
    color: #f9faf8;
    font-weight: bold;
    background-color: #3882f6;
    border-style: solid;
    border-color: #f9faf8;
    height: 30px;
    width: 110px;
    border-radius: 8px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    height: 80px;
}







